/* Global styles*/
html {
  box-sizing: border-box;
  *, *:before; *:after {
    box-sizing: inherit;
  }
}

/*Color links & text are light green, rest of body text is dark green */
body {
  /*font-family: Book Antiqua, serif;*/
  font-family: 'PT Sans Narrow', sans-serif;
  color: #343434;
  background: #CCCCCC;
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: : 15px;
  line-height: 1.5;
}

/*Navigation bar*/

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: right;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/*--------------------------------*/
h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  text-align: center;
}
/* syting the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {
  background-color: #D6EEEE;
}
